
.banner-home{

  position: relative;
  width: 100%;
  min-height: 100vh;

 img{
   object-position: top;
   object-fit: cover;
 }

  .banner-home_box{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 180px;
  }
}

.has-bg-dark{
  background: #2E2A29;
}
.hr_cat{
  width: 100px;
  background: $primary;
}

.title_section{

  font-weight: bold;

}
.inside {
  list-style-position: inside;
  list-style-type: square;
}

